# Data Science Tools and Ecosystem

## Author:
Jorge LÃ³pez

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List Languages most common used from Data Science.
- Create a table which  contains Data Science tools most common used
- Coding on a Jupyter Notebook

Languages most common used from Data Scientist are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Seaborn
4. Matplotlib

| Data Science Tools |
|:------------------:|
| JupyterNotebooks |
| Github |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python:
$$(3*4)+5$$

In [3]:
operation = (3*4)+5 # This a simple arithmetic expression to mutiply then add integers
print(operation)

17

In [2]:
minutes = 200
hours = minutes/60 #This will convert 200 minutes to hours by diving by 60
print(hours)

3.3333333333333335